@charset "utf-8";
.footer{
    background-color: blanchedalmond;
    font-family: 'Source Sans 3', sans-serif;
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    box-sizing: border-box;
    position: relative;
    border-radius: 0 0px 0px 0px ;
}
.icono_messenger{
    width: 32px;
    height: 32px;
    background-image: url("../icons/facebook-messenger.svg");
    background-position: center center;
    display: block;
}
.icono_facebook{
    width: 32px;
    height: 32px;
    background-image: url("../icons/facebook.svg");
    background-position: center center;
    display: block;
}
.icono_whatsapp{
    width: 32px;
    height: 32px;
    background-image: url("../icons/whatsapp.svg");
    background-position: center center;
    display: block;
}
.icono_linkedin{
    width: 32px;
    height: 32px;
    background-image: url("../icons/linkedin.svg");
    background-position: center center;
    display: block;
}
.icono_pinteres{
    width: 32px;
    height: 32px;
    background-image: url("../icons/pinterest.svg");
    background-position: center center;
    display: block;
}